<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dashboard
        link(rel='icon', href='/css/image5.jpg')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        
        style.
              .jumbotron
              {
                margin-top:30px;
                text-align:center
              }
              #desktop
              {
                width: 100%;
                min-height: 100vh;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 15px;
                background: #009bff;
                background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
              }
              #main-div
              {
                  width: 960px;
                  background: #fff;
                  border-radius: 10px;
                  overflow: hidden;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  padding: 140px 130px 33px 95px;
              }
             
              
    body
        .container-fluid#mobile
        .container-fluid#desktop
         .row
          .col
           .container
            .row#main-div
              
            
              .col-6(style='text-align:center')
               h4 Account Profile
               img(src="/css/img4.png", alt="", srcset="",width='50%')
               hr
               h6#fullname
               h6#email
               
              .col-1
              .col-4(style='text-align:center;margin-top:80px;margin-left:10px')
                
                  button.btn.btn-primary.btn-lg.btn-block#logout Logout
                  
              .col-1
            
          
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script.
      var validate = localStorage.getItem('user')
      if (validate===null) {
          window.location.replace('/')
            
        }
      if (typeof(Storage) !== "undefined") {
          
            // Retrieve
            var value = localStorage.getItem("user");
            var data = JSON.parse(value)

            document.getElementById("fullname").innerHTML = data.fullname;
            document.getElementById("email").innerHTML = data.email;
            
        } else {
            document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
         }
        document.getElementById('logout').addEventListener('click',function(e){
            localStorage.removeItem('user');
            window.location.replace('/')
        })
      
        
